
.idea/inspectionProfiles/profiles_settings.xml
.idea/backuper.iml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
settings_mssql.ini
settings_1c_local.ini
settings_1c_ftp.ini
settings_1c_local.ini0
settings_1c_ftp.ini
settings_1c_local.ini0
